header{
        color: white;
        padding: 1px;
        background-color: #301e67;
        border: 10px solid black;
} 
 
 header a {
    
    transition: background-color 0.5s ease;
  }
  
  header a:hover {
    border-bottom: solid 2px white;
    background-color: #03001c;
  }
  .nav-item a{
    text-align: center !important;
    margin: .5px;
    background-color: black;
    color: aliceblue; 
  }
  

.img-logo{
    width: 100px;
    height: 50x;
    margin-bottom: 12px;
}

.w-9{
    background-image: url(img3/fondo.jpg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    filter: brightness(80%);
}

.texto{
    display: flex;
    width: 100%;
    height: 108%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 13px;
    text-align: center;
}

.tx1{
    width: 40%;
}

.conta{
    width: 161px;
    font-size: 20px;
    color: white;
    background-color: #00B8FC;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.conta :hover{
    color: black;  
}

.btn1{
    text-decoration: none;
    color: white;
}

/* ----------------------------------OPCIONES----------------------------------- */

.padre{
    background-color: black;
    color: white;
    padding: 9rem;
}

@media (max-width: 1430px){
    .padre{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

.w-6{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    flex-wrap: wrap;
    gap: 5rem;
}

.tarjetas{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 8px 30px 2.5px;
    color: #89CFF0;
    transition: transform 1s ease-out;
}

.tarjetas :hover{
    transform: scale(1.05);
    color: black;
}

.opt{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.imag{
    width: 300px;
}

/* --------------------------------VENTA--------------------------------- */

h2{
    text-align: center;
    font-size: 45px;
}

.venta{
    padding: 20px;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.obj{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    padding: 10px;
    flex-wrap: wrap;
}

.obj :hover{
    transform: scale(1.04);
    box-shadow: 0px 0px 30px -15px rgba(43, 52, 238, 0.5);
    background: rgba(0, 0, 0, 0.84);
    color: white;
    flex-wrap: wrap;
}


.h{
    background: none;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 10px;
    gap: 5px;
    transition: transform 0.3s ease-out;
}

.it{
    width: 200px;
}

.it1{
    width: 170px;
}

.it2{
    width: 220px;
}

.it3{
    width: 200px;
}

footer {

    background-color: #03001c;
    color: white;
    padding: 10px;
    text-align: center;
}
  
footer p {
    border-radius: 10px;
    margin-bottom: 2px;
  }
  






